.agency {
  margin-top: 2rem;
  padding: 10px;
}

.agency h2 {
  text-align: center;
}

.agency__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.agency__item {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.agency__item img {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.btn-a{
  border: none;
  background-color: aqua;
  padding: 8px;
  border-radius: 10px;
  color: #000;
  width: 80px;
}
.agency__item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.agency__item p {
  color: #000000;
}
