.sortingOptions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sortingOptions label {
  margin-right: 10px;
}

.sortingOptions select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
