.testimonials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  align-items: center;
  justify-content: center;
}

.testimonial {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

.quote {
  font-style: italic;
}

.clientName {
  font-weight: bold;
}

.location {
  font-size: 0.8rem;
  color: #dddddd;
}

@media screen and (min-width: 768px) {
  .testimonial {
    flex-basis: calc(33.33% - 20px);
  }
}
